



.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane:focused {
    -fx-background-color: transparent;
}
.scroll-pane .content {
    -fx-background-color: transparent;
}