#monitor {
  -fx-background-color: #EEE; /*#4A65BC;*/
}
#controller {
  -fx-padding: 16;
  -fx-min-height: 320;
  -fx-alignment: TOP-LEFT;
}

.code {
  -fx-font-family: 'PT Sans', 'sans-serif';
  -fx-font-size: 18px;
}